html {
       height: 100%;
       overflow: hidden;
}

body {
      color: #black;
      margin: 0;
      padding: 0;
      perspective: 1px;
      transform-style: preserve-3d;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      font-family: Luna ;
}

header {
        box-sizing: border-box;
        min-height: 100vh;
        padding: 30vw 0 5vw;
        position: relative;
        transform-style: inherit;
        width: 100vw;
}

header h1 {
        margin top: -100px;
}

header, header:before {
        background: 50% 50% / cover;
}

header::before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        background-image: url(bgimg1.jpg);
        background-size: cover;
        transform-origin: center center 0;
        transform: translateZ(-1px) scale(2);
        z-index: -1;
        min-height: 100vh;
}

header * {
        font-weight:normal;
        letter-spacing: 0.2em;
        text-align: center;
        margin: 0;
        padding: 1em 0;
}

.type-typing {
  padding:20px 30px;
  background:#f5f;
  font-size:35px;
  font-family: monospace;
  border-radius:25px;
}
.MOVE p {
  margin:0px;
  white-space:unwrap;
  overflow:hidden;
  animation: MOVE 4s steps(22,end) forwards,
            blink 0s infinite;
}
@keyframes MOVE {
  0% { width:0% }
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: montserrat;
}

.wrapper {
 display: flex;
 flex-direction: column;
 width: 100vw;
 min-height:100vh;
 justify-content: center;
 align-items: center;
 background-color: #222;

 .swipe {
  position: relative;
  width: fit-content;
    &::after {
     display: block;
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     right: 100%;
     width: 0%;
     height: 100%;
     background-color: #FF5858;
     animation: swipe 1.5s ease-out 1s forwards;
    }
    &--delay {
     &::after {
      background-color: #FFF;
      animation-delay: 1.5s;
     }
    }
 }

 h1 {
  display: block;
  color: #FFF;
  font-size: 72px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  padding: 15px 25px;
  opacity: 0;
  animation: fade 0.01s ease-out 1.75s forwards;
 }

 h3 {
  display: block;
  color: #FFF;
  font-size: 32px;
    line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 15px;
  opacity: 0;
  animation: fade 0.01s ease-out 2.25s forwards;
 }
}

@keyframes fade {
 from { opacity: 0; }
 to { opacity: 1; }
}

@keyframes swipe {
 0% {
  right: 100%;
  left: 0;
  width: 0%;
 }
 50% {
  right: 0;
  left: 0;
  width: 100%;
 }
 100% {
  right: 0;
  left: 100%;
  width: 0%;
 }
}
