@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.login{
  position: relative;
  min-height: 88vh;
  background: rgba(50, 224, 196, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px;
}
.login .container{
  position: absolute;
  height: 500px;
  width: 800px;
  background: rgba(25, 247, 212, 0.16);
  box-shadow:0 15px 50px rgba(0, 0, 0, 0.3);
  overflow:hidden;
}
.login .container .studs, .hosts{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
}
.login .container .user .imgbox{
  position: relative;
  height: 100%;
  width: 50%;
  background: #0ff;
  transition: 0.5s;
}
.login .container .user .imgbox img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.login .container .user .formbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 30px;
  transition: 0.6s;
}

.login .container .user .formbox form h2, .signup .user .formbox form h2{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
  margin-bottom: 15px;
  transition: 0.6s;
}
.login .container .user .formbox form input ,.signup .user .formbox form input{
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  background: #f5f5f5;
  color: #333;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
  max-width: 400px;
  min-width: 250px;
  transition: 0.6s;
}
.login .container .user .formbox form input[type="submit"], .signup .user .formbox form input[type="submit"]{
  max-width: 100px;
  transition: 0.5s;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.6s;

}
.login .container .user .formbox form input[type="submit"]:hover, .signup .user .formbox form input[type="submit"]:hover{
  background: #0ff;
}
.login .container .user .formbox form input a{
  text-decoration: none;
  font-weight: 500;
}
.login .container .user .formbox form input a:hover{
    text-decoration: none;
    font-weight: 600;
}




.login .container .hosts{
  pointer-events:none;
}
.login .container.active .hosts{
  pointer-events:initial;
}

.login .container .hosts .formbox{
  left:100%;
}
.login .container.active .hosts .formbox{
  left:0;
}
.login .container .hosts .imgbox{
  left:-100%;
  background:#0ff;
}
.login .container.active .hosts .imgbox{
  left:0;
}


.login .container .studs .formbox{
  left:0;
}
.login .container.active .studs .formbox{
  left:100%;
}
.login .container .studs .imgbox{
  left:0;
}
.login .container.active .studs .imgbox{
  left:-100%;
}
.signup .user{
  background: rgba(50, 224, 196, 0.1);
  padding: 3% 10%;
  box-shadow:0 15px 50px rgba(0, 0, 0, 0.03);
}
.signup .user formb{
  min-height: 88vh;
}
.signup .user .user-prompt{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 15px;
}
.signup .user .formbox form, .signup .user .user-prompt .signin-prompt{
  display: none;
}

@media (max-width:900px){
  .login .container{
    max-width:450px;
  }
  .login .container .imgbox{
    display:none;
  }
  .login .container .user .formbox{
    width:100%;
  }
}


/*
rgba(238, 238, 238, 1) = #eeeeee
rgba(50, 224, 196, 1) = #32e0c4
rgba(13, 115, 119, 1) =  #0d7377
rgba(33, 33, 33, 1) = #212121
 */
