body {

    --shade1: #eddfef;
    --shade2: #d5cfe1;
    --shade3: #b7b6c1;
    --shade4: #464655;
  --text: #000;
}

.dark-theme {
  --shade1: #343A40;
  --shade2: #282423;
  --shade3: #211E1C;
  --shade4: #191715;
  --text: #f9f6f7;
}

.signup {
  position: relative;
  min-height: 95vh;
  background: var(--shade2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.signup .container {
  position: absolute;
  width: 800px;
  height: 600px;
  padding: 0;
  margin: 0;
  background: var(--shade3);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 12px;
}

.signup .container .imgbox {
  position: relative;
  height: 100%;
  width: 50%;
  background: #d7d3d3;
  transition: 0.5s;
  float: right;
}

.signup .container .imgbox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.signup .container .formbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 30px;
  right: 0;
  transition: 0.6s;
}

.signup .container .formbox form h2 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
  margin-bottom: 15px;
  transition: 0.6s;
}

.signup .container .formbox form input, select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  background: var(--shade1);
  color: #667776 !important;
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 300;
  max-width: 400px;
  min-width: 250px;
  transition: 0.6s;
}

.signup .container .formbox form input[type="submit"] {
  min-width: 100px;
  transition: 0.5s;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.6s;
}

.signup .container .formbox form input[type="submit"]:hover {
  background: var(--shade4);
  color: #FFF !important;
  opacity: 0.75;
}

.signup .container .formbox form input a {
  text-decoration: none;
  font-weight: 500;
}

.signup .container .formbox form input a:hover {
  text-decoration: none;
  font-weight: 600;
}

.user-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--shade2);
  padding: 3% auto;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.03);
}

/*media query to make the form width 100%on small screen*/
@media (max-width:900px) {
  .signup .container {
    max-width: 450px;
  }

  .signup .container .imgbox {
    display: none;
  }

  .signup .container .formbox {
    width: 100%;
  }
}

@media (max-width:460px) {
  .signup .container {
    max-width: 300px;
  }
}

/*mediaquery for dark mode*/
@media (prefers-color-scheme: dark) {

  /* defaults to dark theme */
  body {
    --shade1: #343A40;
    --shade2: #282423;
    --shade3: #211E1C;
    --shade4: #191715;
    --text: #f9f6f7;
  }

  body.light-theme {

      --shade1: #eddfef;
      --shade2: #d5cfe1;
      --shade3: #b7b6c1;
      --shade4: #464655;
    --text: #000;
  }
}
