body{
  --shade1:#F9F6F7;
  --shade2:#E3F6F5;
  --shade3:#BAE8E8;
  --shade4:#272343 ;
  --text:#000;
}
.dark-theme{
  --shade1:#343A40;
  --shade2:#282423;
  --shade3:#211E1C;
  --shade4:#191715;
  --text:#f9f6f7;
}
.login{
  position: relative;
  min-height: 88vh;
  background: var(--shade1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 20px;
}
.login .container{
  position: absolute;
  height: 500px;
  border-radius: 12px;
  width: 800px;
  background: var(--shade2);
  box-shadow:0 15px 50px rgba(0, 0, 0, 0.3);
  overflow:hidden;
}
.login .container .studs, .hosts{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
}
.login .container .user .imgbox{
  position: relative;
  height: 100%;
  width: 50%;
  background: #0ff;
  transition: 0.5s;
}
.login .container .user .imgbox img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.login .container .user .formbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  padding: 30px;
  transition: 0.6s;
}

.login .container .user .formbox form h2{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
  margin-bottom: 15px;
  transition: 0.6s;
}
.login .container .user .formbox form input,select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  background: var(--shade1);
  margin: 8px 0;
  letter-spacing: 1px;
  font-weight: 200;
  max-width: 400px;
  min-width: 250px;
  transition: 0.6s;
}
.login .container .user .formbox form input[type="submit"]{
  min-width: 100px;
  transition: 0.5s;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.6s;

}
.login .container .user .formbox form input[type="submit"]:hover{
  background: var(--shade4);
  opacity: 0.75;
}
.login .container .user .formbox form input a{
  text-decoration: none;
  font-weight: 400;
}
.login .container .user .formbox form input a:hover{
    text-decoration: none;
    font-weight: 600;
}




.login .container .hosts{
  pointer-events:none;
}
.login .container.active .hosts{
  pointer-events:initial;
}

.login .container .hosts .formbox{
  left:100%;
}
.login .container.active .hosts .formbox{
  left:0;
}
.login .container .hosts .imgbox{
  left:-100%;
  background:#0ff;
}
.login .container.active .hosts .imgbox{
  left:0;
}


.login .container .studs .formbox{
  left:0;
}
.login .container.active .studs .formbox{
  left:100%;
}
.login .container .studs .imgbox{
  left:0;
}
.login .container.active .studs .imgbox{
  left:-100%;
}

.user-prompt{
display: flex;
justify-content: center;
align-items: center;
background: var(--shade2);
padding: 3% auto;
box-shadow:0 15px 50px rgba(0, 0, 0, 0.03);
}
.signup-prompt{
  padding-top: 15px;
}
@media (max-width:900px){
  .login .container{
    max-width:450px;
  }
  .login .container .imgbox{
    display:none;
  }
  .login .container .user .formbox{
    width:100%;
  }
}


/*mediaquery for dark mode*/
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --shade1:#343A40;
    --shade2:#282423;
    --shade3:#211E1C;
    --shade4:#191715;
    --text:#f9f6f7;
  }
  body.light-theme {
    --shade1:#F9F6F7;
    --shade2:#E3F6F5;
    --shade3:#BAE8E8;
    --shade4:#272343 ;
    --text:#000;
  }
}
