* {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0;
}

/*content*/
.content {
  position: relative;
  width: 100%;
  min-height: 145vh;
  height: auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -5
}

.content h2 {
  position: relative;
  font-size: 2rem;
}

.text {
  display: bkock;
  margin-top: 40px;
  margin: 15px auto;
  padding: 5px 2.5rem;
  max-width: 100ch;
}

.content ul {
  list-style-type: none;
}

/*newsletter section*/
.newsletter {
  min-height: 100vh;
  width: 100%;
  height: auto;
  background-image: url("../images/likes.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.newsletter form {
  position: relative;
  max-width: 400px;
  padding-left: 6%;
  padding-top: 10%;
}

.newsletter form input {
  width: 250px;
  line-height: 2;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  outline: none;
  margin: 8px 0;
}
